<header class="profileTitle">
  <h1>Bubbles</h1>
  <p>Music your way</p>
</header>

<main class="userProfile">
  <img src={{user.user1.img}} alt="user image">
  <section class="bio">
    <header>
      <h1>{{user.user1.name}}</h1>
      <h2>{{user.user1.city}}</h2>
    </header>

    <ul>
      {{#each playlist}}
      <li>
        <a href={{playlistId}}>{{playlist.id.name}}Playlist Name</a>
      </li>
      {{/each}}
    </ul>
    <button class="whiteBtn"><a href="/">HOME</a></button>
  </section>
</main>