<header>
  <img src={{user.user1.img}} alt="" style="width: 500px; height: 500px;">
  <h1>{{user.user1.name}}</h1>
  <h1>{{user.user1.city}}</h1>
</header>

<main>
  <ul>
    <li>
      <a href={{playListId}}>{{playlist.name}}</a>
    </li>
  </ul>
</main>
