<header class="profileTitle header">
  <h1>Bubbles</h1>
  <p>Music your way</p>
</header>

<main class="userProfile">
  <img src="/images/{{img}}" alt="user image">
  <section class="bio">
    <header>
      <h1>{{userName}}</h1>
      <h2>{{city}}</h2>
    </header>

    <ul>
      {{#each playlists}}
      <li>
        <p>
          <a href="/playlist/{{playlistId}}">Playlist Name: {{playlistName}}</a>
        </p>
      </li>
      {{/each}}
    </ul>
    <button class="whiteBtn btn"><a href="/">HOME</a></button>
  </section>
</main>